# PT站点配置
PT_DOMAIN = 'ptcafe.club'
PT_COOKIE = 'your_cookie_here'

# 页码范围配置
PAGE_START=1
PAGE_END=10

# 网络请求配置，单位：秒
REQUEST_TIMEOUT=60
REQUEST_DELAY=0.5

# 浏览器标识，用于模拟浏览器请求，防止被网站识别为爬虫
USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36